<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">
	<select id="selectMenuList" parameterType="int" resultType="menu">
		select * from menu where shopNo=#{shopNo}
	</select>
	<insert id="insertMenu" parameterType="menu">
		insert into menu(menuName,menuPrice,shopNo)
		values(#{menuName}, #{menuPrice}, #{shopNo})
	
	</insert>
	<select id="checkMenu" parameterType="int" resultType="resMenu">
		select * from ReservationMenu where menuNo=#{num}
	</select>
	<delete id="deleteMenu" parameterType="menu">
		delete from menu where menuNo=#{menuNo}
	</delete>
	<update id="updateMenu" parameterType="map">
	update menu set menuName=#{menuName},menuPrice=#{menuPrice} where menuNo=#{menuNo}
	</update>
</mapper>  