<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">
	<select id="selectMenuList" parameterType="int" resultType="menu">
		select * from menu where shopNo=#{shopNo}
	</select>
	<insert id="insertMenu" parameterType="menu">
		insert into menu(menuName,menuPrice,shopNo)
		values(#{menuName}, #{menuPrice}, #{shopNo})
	
	</insert>
	<select id="checkMenu" parameterType="int" resultType="resMenu">
		select * from ReservationMenu where menuNo=#{num}
	</select>
	<delete id="deleteMenu" parameterType="menu">
		delete from menu where menuNo=#{menuNo}
	</delete>
	<update id="updateMenu" parameterType="map">
	update menu set menuName=#{menuName},menuPrice=#{menuPrice} where menuNo=#{menuNo}
	</update>
	
	
	<!-- 사장님이 예약메세지를 볼때 필요한 질의문 (재형) -->
	
	<select id="adminMsgMenuName" parameterType="map">
	select menuName from menu where = menuNo 
	<choose>
		<when test="menuNoArr.size != 0">
		 <foreach collection="menuNoArr" item="item" index="index" separator="," open="(" close=")">
		 	#{item}
		 </foreach>
		</when>
		<otherwise>
		 = ''
		</otherwise>
	</choose>
		
	</select>
	
</mapper>  