<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings> 
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	<typeAliases>
		<typeAlias alias="menu" type="co.kr.hungrybunny.vo.MenuVO"/>
		<typeAlias alias="shop" type="co.kr.hungrybunny.vo.ShopVO"/>
		<typeAlias alias="shopCa" type="co.kr.hungrybunny.vo.ShopCaVO"/>
		<typeAlias alias="ui" type="co.kr.hungrybunny.vo.UserInfoVO"/>
		<typeAlias alias="hall" type="co.kr.hungrybunny.vo.HallVO"/>
	</typeAliases>
	<mappers>
		<mapper resource="sql/menu.xml"/>
		<mapper resource="sql/shop.xml"/>
		<mapper resource="sql/shopCa.xml"/>
		<mapper resource="sql/user_info.xml"/>
		<mapper resource="sql/hall.xml"/>
	</mappers>
</configuration>